$spasing-4: 0.25rem;
$spasing-8: 0.5rem;
$spasing-12: 0.75rem;
$spasing-16: 1rem;

$font-size-24: 1.5rem;

$gray-100: #FFFFFF;

$blue-100: #E8F7FA;
$blue-200: #CAEDFF;
$blue-300: #96CBED;
$blue-500: #4C8AC5;